body {
    background-color: lightgrey;
}

input {
    width: 40%;
    height: 75px;
    border-radius: 15px;
}

button {
    border-width: 3px;
    /* border-style: ridge; */
    border-radius: 10px;
}

.numButton {
    background-color: cornflowerblue;
    font-size: 200%;
}

.operationButton {
    background-color: lightcoral;
    font-size: 200%;
}

#resultGoesHere {
    height: 30px;
    
}

#resetIt {
    background-color: cornflowerblue;
    font-size: 200%;
}


