body {
    background-color: lightgrey;
}

#container {
    margin: auto;
    width: 40%;
    border: 5px solid darkgray;
    border-radius: 15px;
    padding: 10px;
}

input {
    width: 48%;
    height: 75px;
    border-radius: 15px;
    font-size: 200%
}

button {
    border-width: 3px;
    height: 75px;
    border-radius: 10px;
    margin: auto;
}

.numButton {
    background-color: lightblue;
    width: 33%;
    font-size: 200%;
    margin: auto;
}

#numberButtonsLocation4 {
    margin-left: 33%;
    margin-right: 33%;
}

.buttonZero {
     width: 98%; 
}

.operationButton {
    width: 25%;
    background-color: lightcoral;
    font-size: 200%;
}

#resultGoesHere {
    width: 98%
}

#resetIt {
    background-color: lightblue;
    width: 100%;
    font-size: 200%;
}